.table-root {
  margin: 6rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.table-root .cell-root {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 0.5rem;
  margin: 0 0 1rem 0;
  padding: 1rem 1.5rem;
}
.table-root .cell-root .cell-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.table-root .cell-root .cell-wrapper .img-item {
  max-width: 384px;
}
.table-root .cell-root .cell-wrapper .img-item img {
  width: 100%;
  height: 100%;
}
.table-root .cell-root .cell-wrapper .text-item {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 1rem 0 0 0;
}
.table-root .cell-root .cell-wrapper .text-item p {
  margin: 0;
}
.table-root .cell-root:hover {
  background-color: #c2c2c2;
}

.scroll-item {
  position: fixed;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
}
.scroll-item svg {
  font-size: 2.5rem;
}
.scroll-item svg path {
  fill: #01b4e4;
}

.not-found-root {
  display: flex;
  align-items: center;
  justify-content: center;
}
.not-found-root .not-found-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 2.5rem;
}
.not-found-root .not-found-wrapper .not-found-text-block {
  margin: 0 0 1.5rem 0;
}
.not-found-root .not-found-wrapper .not-found-text-block h2 {
  font-size: 1.8rem;
}
.not-found-root .not-found-wrapper .not-found-button-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found-root .not-found-wrapper .not-found-button-block a {
  font-weight: 500;
  font-size: 1.5rem;
  color: #01b4e4;
}
.not-found-root .not-found-wrapper .not-found-button-block a:hover {
  opacity: 0.7;
}
.not-found-root .not-found-wrapper .not-found-button-block svg {
  font-size: 1.5rem;
  margin: 0 0 1rem 0;
}
.not-found-root .not-found-wrapper .not-found-button-block svg path {
  fill: #01b4e4;
}

.header-root {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(var(--lightBlue), 1);
  height: 4rem;
  width: 100%;
  z-index: 2;
  transition: top 0.2s linear;
}
.header-root.header-remove {
  top: -4rem;
}
.header-root .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.header-root .header-wrapper .header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  position: relative;
}
.header-root .header-wrapper .header-container .logo-item {
  width: 50px;
  height: 50px;
  margin: 0;
}
.header-root .header-wrapper .header-container .logo-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header-root .header-wrapper .header-container h3 {
  color: #fff;
}

.lb-root {
  background: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.lb-root .lb-block {
  width: 100%;
  height: 100%;
}
.lb-root .lb-block .img-item {
  width: 100%;
  height: 100%;
}
.lb-root .lb-block .img-item img {
  width: 100%;
  height: 100%;
}
.lb-root .lb-block .head-item {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background: #000000;
  padding: 1rem;
}
.lb-root .lb-block .head-item .close-item {
  cursor: pointer;
  width: 28px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.lb-root .lb-block .head-item .close-item svg path {
  fill: #3c4249;
}
.lb-root .lb-block .head-item .close-item:hover {
  transform: scale(1.1);
}
.lb-root .lb-block .head-item .close-item:hover svg path {
  fill: #fff;
}

.stage {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 1rem 0 2rem 0;
  margin: 0 -5%;
  overflow: hidden;
}
.stage .dot-pulse {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #01b4e4;
  color: #01b4e4;
  box-shadow: 9999px 0 0 -5px #01b4e4;
  -webkit-animation: dotPulse 1.5s infinite linear;
          animation: dotPulse 1.5s infinite linear;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.stage .dot-pulse::before, .stage .dot-pulse::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #01b4e4;
  color: #01b4e4;
}
.stage .dot-pulse::before {
  box-shadow: 9984px 0 0 -5px #01b4e4;
  -webkit-animation: dotPulseBefore 1.5s infinite linear;
          animation: dotPulseBefore 1.5s infinite linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.stage .dot-pulse::after {
  box-shadow: 10014px 0 0 -5px #01b4e4;
  -webkit-animation: dotPulseAfter 1.5s infinite linear;
          animation: dotPulseAfter 1.5s infinite linear;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

@-webkit-keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #01b4e4;
  }
  30% {
    box-shadow: 9984px 0 0 2px #01b4e4;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px #01b4e4;
  }
}

@keyframes dotPulseBefore {
  0% {
    box-shadow: 9984px 0 0 -5px #01b4e4;
  }
  30% {
    box-shadow: 9984px 0 0 2px #01b4e4;
  }
  60%, 100% {
    box-shadow: 9984px 0 0 -5px #01b4e4;
  }
}
@-webkit-keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #01b4e4;
  }
  30% {
    box-shadow: 9999px 0 0 2px #01b4e4;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px #01b4e4;
  }
}
@keyframes dotPulse {
  0% {
    box-shadow: 9999px 0 0 -5px #01b4e4;
  }
  30% {
    box-shadow: 9999px 0 0 2px #01b4e4;
  }
  60%, 100% {
    box-shadow: 9999px 0 0 -5px #01b4e4;
  }
}
@-webkit-keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #01b4e4;
  }
  30% {
    box-shadow: 10014px 0 0 2px #01b4e4;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px #01b4e4;
  }
}
@keyframes dotPulseAfter {
  0% {
    box-shadow: 10014px 0 0 -5px #01b4e4;
  }
  30% {
    box-shadow: 10014px 0 0 2px #01b4e4;
  }
  60%, 100% {
    box-shadow: 10014px 0 0 -5px #01b4e4;
  }
}
.default-layout-root {
  margin: 4rem 0 0 0;
}
.default-layout-root .default-layout-wrapper {
  max-width: 576px;
  margin: 0 auto;
}

:root {
  --lightBlue: 1, 180, 228;
}/*# sourceMappingURL=main.css.map */